#contacts {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
  background-color: #05031b;
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact_box {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
}

.contact_box img {
  width: 18px;
  margin-right: 10px;
}
.contact_box div {
  margin: 5px 0;
}

.contact_box h3 {
    font-size: 1.5rem;
}
.contact_box p {
    font-size: 14px;
    margin: 0;
    margin-left: 10px;

}

  /* SCREEN MAX 768PX ============================================ */
  @media (max-width: 768px){
    #contacts{
      padding: 60px 20px;
    }
  }

    /* SCREEN MAX 550px ============================================ */
    @media (max-width: 550px){
      #contacts{
        padding: 10px;
      }

      .contact_container {
        display: flex;
        flex-direction: column;
      }

      .contact_box{
        align-items: center;
        justify-content: center;
        
      }

      .contact_box div {
        width: 180px;
      }

      .contact_box div p {
        width: 200px;
      }
    }