html, body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-size: 36px;
}
.limit_container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
