#products {
  width: 100%;
  padding: 100px 20px;
  text-align: center;

}

.header_products_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -3rem 0 1rem 0;
}
.header_products_container h2 {
  margin: 0;
}
/* CARD CONTAINER ============================================ */
.cards {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: calc(50% - 15px);
  background-color: #f6f6f6;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.card h3 {
  font-size: 32px;
  margin: 0;
  text-transform: initial;
  font-weight: 600;
}

.card p {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.card img {
  width: 80%;
  max-height: 150px;
  margin: 30px 0;
  
}

/* LIST PRODUCTS FEATURES ============================================ */
.products_features ul {
  list-style-position: inside;
}

/* SCREEN MAX 768PX ============================================ */

@media (max-width: 768px){
  #products{
    padding: 60px 20px;    
  }

  .card h3 {
    font-size: 22px;
  }

  .card img {
    max-height: 100px;
  }

  .card p {
    font-size: 16px;
  }
}

/* SCREEN MAX 550px ============================================ */
@media (max-width: 550px){
  #products {
    padding: 0 10px;
  }

  .card {
    width: 100%;
  }

  .products_features ul {
    display: flex;
    flex-direction: column;
    list-style-position: initial;
    text-align: left;
  }

  .products_features li {
    line-height: 2.3;
  }
}


